*.pyc*

token.txt

/.quarto/
tests/*test*.csv
tests/outputs/*test*
tests/outputs/simple_funcs_run/*test*

.tox
htmlcov/
*.coverage
.cache/

.vscode

**/*.quarto_ipynb

_freeze/
dist/
docs/
reference/

node_modules/
package.json
package-lock.json

_environment

.venv

sample_data/LSOA_2011_Boundaries_Super_Generalised_Clipped_BSC_EW_V4.geojson
