*.pyc*

token.txt

/.quarto/
tests/*test*.csv
tests/outputs/*test*
tests/outputs/simple_funcs_run/*test*

.tox
htmlcov/
*.coverage
.cache/

.vscode

**/*.quarto_ipynb

_freeze/
dist/
docs/
reference/

node_modules/
package.json
package-lock.json

_environment

.venv

sample_data/LSOA_2011_Boundaries_Super_Generalised_Clipped_BSC_EW_V4.geojson
sample_data/torquay_all_postcodes_to_all_travel_matrix_car.csv
sample_data/PCD_OA21_LSOA21_MSOA21_LAD_MAY25_UK_LU.csv
sample_data/Lower_layer_Super_Output_Areas_December_2021_Boundaries_EW_BSC_V4_6453788336260919790.gpkg
