/*-- scss:defaults --*/

// Sidebar colors
$sidebar-bg: #92b2e2;  // Background color
$body-bg: #f0fff2;
$code-block-bg: #173aaf38;
$navbar-bg: #92abe2;
$link-color: #214566;
$link-hover-color: #006eff;
