/*-- scss:defaults --*/

// Sidebar colors
$sidebar-bg: #214566;  // Background color
$sidebar-fg: #ffffff;  // Foreground (text) color
$body-bg: #252b26;
$code-block-bg: #202841;
$navbar-bg: #212666;
